<div class="registration">
  <div heading-column-lr>
    <h1 big-heading>Register</h1>
  </div>

  <ion-label color="danger" style="text-align: end"
    >All fields are required</ion-label
  >

  <form name="registrationForm" #registrationForm="ngForm">
    <ion-item transparent>
      <ion-input
        name="firstName"
        [(ngModel)]="demoInfo.firstName"
        #firstName="ngModel"
        type="text"
        required
        placeholder="First Name"
      ></ion-input>
    </ion-item>
    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
      <ion-text color="danger" *ngIf="firstName.errors.required"
        >This field is required.</ion-text
      >
    </div>

    <ion-item transparent>
      <ion-input
        name="lastName"
        [(ngModel)]="demoInfo.lastName"
        #lastName="ngModel"
        type="text"
        required
        placeholder="Last Name"
      ></ion-input>
    </ion-item>
    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
      <ion-text color="danger" *ngIf="lastName.errors.required"
        >This field is required.</ion-text
      >
    </div>

    <ion-item transparent>
      <ion-input
        name="contactNo"
        [(ngModel)]="demoInfo.contactNo"
        #contactNo="ngModel"
        type="tel"
        maxlength="10"
        minlength="10"
        required
        placeholder="Contact No."
      ></ion-input>
      <ion-button
          (click)="sendOtp()"
          expand="block"
          fill="clear"
          color="primary"
          slot="end"
          [disabled]="demoInfo.contactNo.length != 10"
        >
          Send OTP
        </ion-button>
    </ion-item>
    <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)">
      <ion-text color="danger" *ngIf="contactNo.errors.required"
        >This field is required.</ion-text
      >
      <ion-text color="danger" *ngIf="contactNo.errors.minlength"
        >This field must contain 10 digits.</ion-text
      >
    </div>

    <ion-item transparent [hidden]="!otpSent">
      <ion-input
        name="otp"
        [(ngModel)]="enteredOTP"
        #otp="ngModel"
        type="tel"
        maxlength="4"
        minlength="4"
        required
        placeholder="Enter OTP"
        (keyup)="verifyOtp($event)"
      >
      </ion-input>
    </ion-item>
    <div *ngIf="otp.invalid && (otp.dirty || otp.touched)">
      <ion-text color="danger" *ngIf="otp.errors.required"
        >This field is required.</ion-text
      >
      <ion-text color="danger" *ngIf="otp.errors.minlength"
        >This field must contain 4 digits.</ion-text
      >
    </div>
    <ion-text
      *ngIf="otpMatch == true && enteredOTP.length == 4 "
      color="success"
      >Otp Match.</ion-text
    >
    <ion-text
      *ngIf="otpMatch == false && enteredOTP.length == 4 "
      color="danger"
      >Otp dosen't Match.</ion-text
    >

    <ion-item transparent>
      <ion-input
        name="emailId"
        [(ngModel)]="demoInfo.email"
        #emailId="ngModel"
        type="text"
        email
        required
        placeholder="Email Id"
      ></ion-input>
    </ion-item>
    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)">
      <ion-text color="danger" *ngIf="emailId.errors.required"
        >This field is required.</ion-text
      >
      <ion-text color="danger" *ngIf="emailId.errors.email"
        >Enter valid email id.</ion-text
      >
    </div>

    <!-- <ion-item transparent>
      <ion-input
        name="area"
        [(ngModel)]="demoInfo.area"
        #area="ngModel"
        type="text"
        required
        placeholder="Area"
      ></ion-input>
    </ion-item>
    <div *ngIf="area.invalid && (area.dirty || area.touched)">
      <ion-text color="danger" *ngIf="area.errors.required"
        >This field is required.</ion-text
      >
    </div> -->

    <!-- <ion-item lines="none">
      <ion-button (click)="onProfile()" expand="block" fill="clear" shape="round">
        Profile Picture
      </ion-button>
      </ion-item>
  
       <div *ngIf="imageURl != ''">
         <img class="image-container" [src]="imageURl"/> 
       </div> -->

    <div style="height: 10px"></div>

    <ion-button
      color="primary"
      class="ion-button-class"
      size="large"
      expand="block"
      fill="solid"
      shape="round"
      type="submit"
      [disabled]="registrationForm.invalid  || !otpMatch"      
      (click)="onSubmit()"
    >
      Submit
    </ion-button>
  </form>

  <ion-label color="danger">You can use demo app for a month only.</ion-label>
</div>
