<ion-grid>
  <ion-row *ngIf="testMode == 'automatic'">
    <ion-col size="7" push="1">
      <ion-label class="label">Question Count</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="icon-add"
          name="add"
          slot="start"
          size="default"
          (click)="onQueUp()"
          (press)="onQueUpPress()"
          (pressup)="onPressup()"
        ></ion-icon>
        <ion-input
          class="input-change"
          name="questionCount"
          [(ngModel)]="settings.questionCount"
          type="number"
        ></ion-input>
        <ion-icon
          class="icon-remove"
          name="remove"
          slot="end"
          size="default"
          (click)="onQueDown()"
          (press)="onQueDownPress()"
          (pressup)="onPressup()"
        ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="testMode == 'automatic'">
    <ion-col size="7" push="1">
      <ion-label class="label">Numerical Question</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="icon-add"
          name="add"
          slot="start"
          size="default"
          (click)="onNumUp()"
          (press)="onNumUpPress()"
          (pressup)="onPressup()"
        ></ion-icon>
        <ion-input
          class="input-change"
          name="questionCount"
          [(ngModel)]="settings.numericalCount"
          type="number"
        ></ion-input>
        <ion-icon
          class="icon-remove"
          name="remove"
          slot="end"
          size="default"
          (click)="onNumDown()"
          (press)="onNumDownPress()"
          (pressup)="onPressup()"
        ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" push="1">
      <ion-label class="label">Time (Minutes)</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="icon-add"
          name="add"
          slot="start"
          size="default"
          (click)="onTimeUp()"
          (press)="onTimeUpPress()"
          (pressup)="onPressup()"
        ></ion-icon>
        <ion-input
          class="input-change"
          name="time"
          [(ngModel)]="settings.time"
          type="number"
        ></ion-input>
        <ion-icon
          class="icon-remove"
          name="remove"
          slot="end"
          size="default"
          (click)="onTimeDown()"
          (press)="onTimeDownPress()"
          (pressup)="onPressup()"
        ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" push="1">
      <ion-label class="label ion-text-wrap">Correct Ans. (Marks)</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="icon-add"
          name="add"
          slot="start"
          size="default"
          (click)="onCorrUp()"
          (press)="onCorrUpPress()"
          (pressup)="onPressup()"
        ></ion-icon>
        <ion-input
          class="input-change"
          name="correct"
          [(ngModel)]="settings.correctMarks"
          type="number"
        ></ion-input>
        <ion-icon
          class="icon-remove"
          name="remove"
          slot="end"
          size="default"
          (click)="onCorrDown()"
          (press)="onCorrDownPress()"
          (pressup)="onPressup()"
        ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="7" push="1">
      <ion-label class="label ion-text-wrap">Incorrect Ans. (Marks)</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-icon
          class="icon-add"
          name="add"
          slot="start"
          size="default"
          (click)="onIncorrUp()"
          (press)="onIncorrUpPress()"
          (pressup)="onPressup()"
        ></ion-icon>
        <ion-input
          class="input-change"
          name="incorrect"
          [(ngModel)]="settings.inCorrectMarks"
          type="number"
        ></ion-input>
        <ion-icon
          class="icon-remove"
          name="remove"
          slot="end"
          size="default"
          (click)="onIncorrDown()"
          (press)="onIncorrDownPress()"
          (pressup)="onPressup()"
        ></ion-icon>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="8">
      <ion-label class="label ion-text-wrap">Incorrect Ans. (Numerical Patt.)</ion-label>
    </ion-col>
    <ion-col size="4">
      <ion-item lines="none" class="ion-no-margin ion-no-padding">
        <ion-input
          class="input-change"
          name="incorrect"
          [(ngModel)]="numNegativeMarks"
          type="number"
          [disabled]="true"
        ></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="ion-no-margin ion-no-padding">
  <ion-row>
    <ion-col size="6">
      <ion-button
        (click)="onCancel()"
        expand="block"
        fill="clear"
        color="primary"
      >
        Cancel
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button
        (click)="onSet()"
        expand="block"
        fill="solid"
        color="primary"
      >
        Set
      </ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
