.header-item {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.footer-item {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 0px;
}